# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Day01/Program01-HelloWorld/HelloWorld/nbproject/private/
/Day01/Program01-HelloWorld/HelloWorld/build/
/Day01/Program02-Variable_And_DataTypes/nbproject/private/
/Day01/Program02-Variable_And_DataTypes/build/
/Day01/Program02-Variable_And_DataTypes/dist/
/Day02/Program03-Function/nbproject/private/
/Day02/Program03-Function/build/
/Day03/Baitap01/nbproject/private/
/Day03/Baitap01/build/
/Day03/Program03-Int/nbproject/private/
/Day03/Program03-Int/build/
/Day03/Program03-Int/dist/
/Day03/Program04-Int/nbproject/private/
/Day03/String/nbproject/private/
/Day03/Program05-MyString/nbproject/private/
/Day03/Program05-MyString/build/
/Day03/Program06-DemoTextBlock/nbproject/private/
/Day03/Program06-DemoTextBlock/build/
/Day04/Program06-EpKieu/nbproject/private/
/Day04/Program06-EpKieu/build/
/Day04/Program07-NhapXuatGiaTri/nbproject/private/
/Day04/Program07-NhapXuatGiaTri/build/
/Day04/Program08-BaiTapNhapXuatDuLieu/nbproject/private/
/Day04/Program08-BaiTapNhapXuatDuLieu/build/
/Day04/Program08-BaiTapNhapXuatDuLieu/dist/
/Day04/Program09-TinhChuVi_DienTichHinhTron/nbproject/private/
/Day04/Program09-TinhChuVi_DienTichHinhTron/build/
/Day05/Program10-DoiTien/nbproject/private/
/Day05/Program10-DoiTien/build/
/Day05/Program11-TinhTienDien/nbproject/private/
/Day06/Program12-VongLapFor/nbproject/private/
/Day06/Program12-VongLapFor/build/
/Day06/Program13-VongLapWhile/nbproject/private/
/Day06/Program13-VongLapWhile/build/
/Day06/Program14/nbproject/private/
/Day06/Program14-Break_and_Continue/nbproject/private/
/Day06/Program14-Break_and_Continue/build/
/Day06/Program14-Break_and_Continue/dist/
/Day06/Program15-BangCuuChuong/nbproject/private/
/Day06/Program15-BangCuuChuong/build/
/Day06/Program16-Global_Local_Variables/nbproject/private/
/Day06/Program16-Global_Local_Variables/build/
/Day06/Program17-TinhGiaithua/nbproject/private/
/Day06/Program17-TinhGiaithua/build/
/Day06/Program18-SoNguyenTo/nbproject/private/
/Day06/Program18-SoNguyenTo/build/
/Day03/Program04-Int/build/
/Day06/Program19-TaoMenu/nbproject/private/
/Day06/Program19-TaoMenu/build/
